 .App{
    background-color: rgb(235, 228, 228);
    padding: 0 6vw;
    font-family: 'Gentium Book Plus', serif;
 }
 body {
    line-height: 1;
    padding: 0;
    margin: 0;
}
img{
    max-width:  100%;
    max-height:  100%;
    object-fit: contain;
}
 .home-container{
    width: 88vw;
    background-color: white;
 }
.main-content{
    width: 88vw;
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
}
.home-title{
   background-color: white;
   height: 12vh;
   width: 88vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.home-title-text{
  font-size: 30px;
  font-weight: 600;
  color: rgb(25, 76, 126);
  font-family: 'Gentium Book Plus', serif;
font-family: 'Roboto', sans-serif;
}
.img-main{
  flex-direction: column;
}
@media screen and (max-width: 768px){
    .main-content{
        display: grid;
    }
}
.left-content{
    display: flex;
    flex-direction: column;
    flex: 66;
    padding: 2vh 4vh;
}
.right-content{
    display: flex;
    flex-direction: column;
    flex: 33;
    padding: 2vh 4vh;
}
.left-content-data{
   margin-top: 2vh;
}
.left-content-head{
    color: rgb(30, 52, 125);
    font-weight: bold;
}
.left-content-metadata{
    font-size: 17px;
    font-weight: 400;
    line-height: 1.9em;
    margin-bottom: 20px;
}
.right-content-head{
    font-size: 1.4em;
    letter-spacing: -1px;
    padding: 6px 0;
    color: rgb(30, 52, 125);
}
.right-content-metadata{
    line-height: 1.9em;
    margin-bottom: 20px;
}
.right-content-data img{
     width: 10vw;
     height: 10vw;
}



.navbar {
    background-color: rgb(39 65 135);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 20;
  }
  
  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    max-width: 1500px;
  }
  
  .main-container2{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(0,0,0,0.3);
  }
  
  .nav-logo {
    color: #ffffff;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    flex-grow: 1;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
  }
  
  .nav-links {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    border-bottom: 3px solid transparent;
  }
  .fa-code {
    margin-left: 1rem;
  }
  
  .nav-item {
    line-height: 40px;
    margin-right: 1rem;
  }
  
  .nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
  }
  
  .nav-item:hover:after {
    width: 100%;
    background: #ffffff;
  }
  
  .nav-item.active {
    color: #ffffff;
    border: 1px solid #ffffff;
  }
  
  .nav-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-top: 1px solid #fff;
      position: absolute;
      top: 65px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: rgb(39 65 135);
      max-width : 95%;
      left: 0px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
    @media screen and (max-width: 750px){
        .nav-menu.active {
            width : 90%;
          }
    }
    @media screen and (max-width: 440px){
        .nav-menu.active {
            width : 88%;
          }
    }
    @media screen and (max-width: 340px){
        .nav-menu.active {
            width : 85%;
          }
    }
    .nav-item .active {
      color: #ffffff;
      border: none;
    }
    .nav-links {
      padding: 1.5rem;
      width: 80%;
      display: table;
    }
  
    .nav-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      color: #ffffff;
    }
  }
  .footer{
    display: flex;
    height: px;
    padding: 1% .2%;
    background-color: #000;
    color: #666;
    flex-wrap: nowrap;
    justify-content: center;
  }